title: Polkit Agent # Empty
app:
  id: mechanix.shell.polkit-agent # Polkit agent
  text_multithreading: true # false
  antialiasing: true # false
  try_opengles_first: true # false
window:
  size: [480, 480] # [1024, 768]
  position: [0, 0] # [0, 0]
  min_size: [480, 480] # None
  max_size: null # None
  visible: true # true
  resizable: true # true
  decorations: true # true
  transparent: true # false
  always_on_top: false # false
  icon_path: null # Todo
icons:
  lock: /usr/share/mechanix/shell/polkit-agent/assets/icons/lock.svg
  submit: /usr/share/mechanix/shell/polkit-agent/assets/icons/submit.svg
  close: /usr/share/mechanix/shell/polkit-agent/assets/icons/close.svg
  next: /usr/share/mechanix/shell/polkit-agent/assets/icons/next.svg
  back_space: /usr/share/mechanix/shell/polkit-agent/assets/icons/back_space.svg
