[package]
name = "mechanix-sound-ctl"
description = "Sound controller for Mechanix services"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
categories.workspace = true
keywords.workspace = true

[dependencies]
libpulse-binding = "2.28.1"
anyhow.workspace = true
serde.workspace = true