.window {
    background-color: rgba(5, 7, 10, 0.9);
    font-family: 'Space Grotesk';
    padding: 9px 18px;
    min-width: 100%;
    color: #E4E7EE;
}

.container {
    min-width: 100%;
    min-height: 100%;
}

.app {}

.app-image {
    min-width: 104px;
    min-height: 104px;
    margin-bottom: 14px;
}

.search-box {
    background: #15171D;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.search-input {
    background: inherit;
    color: #E4E7EE;
    border: none;
    outline: line;
}

/* .search-input:hover {
    border: none;
} */

.search-input:focus {
    border: none;
}

.search-input::placeholder {
    color: #565E76;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}