.window {
    background-color: rgba(9, 12, 19, 1);
    font-family: 'Space Grotesk';
    padding: 10px 18px 30px 18px;
    min-width: 100%;
    color: #E4E7EE;
}

.container {}

.app {}

.app-image {
    min-width: 88px;
    min-height: 88px;
    margin-bottom: 4px;
}

.search-box {
    background: #15171D;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.search-input {
    background: inherit;
    color: #E4E7EE;
    border: none;
    outline: line;
}

/* .search-input:hover {
    border: none;
} */

.search-input:focus {
    border: none;
}

.search-input::placeholder {
    color: #565E76;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.app-name-label {
    font-size: 12px;
}

.scrollable {
    margin-top: 10px;
    min-width: 300px;
    min-height: 300px;
    margin-bottom: 10px;
}

.icon-input-root-default {
    padding: 6px 4px;
    border-radius: 4px;
    background: rgba(34, 37, 44, 1);
    /* border: 1px solid #000000; */
}

.icon-input-root-focused-default {
    /* border: 1px solid #3283E8; */
    background: rgba(34, 37, 45, 0.4);
}