Package: mechanix-files
Version: 0.0.1
Maintainer: Yogita Hiray <yogitah@mechasystems.com>
Description: Mechanix Files app
  A file management application for Mechanix OS, enabling users to browse, organize, and manage their files effortlessly.