[Desktop Entry]
Name=Files
GenericName=Mechanix Files
Comment=Files app
Type=Application
TryExec=mechanix_files -b /usr/share/mechanix/mechanix-files -w 540 -h 620 -k -s 1
Exec=mechanix_files -b /usr/share/mechanix/mechanix-files -w 540 -h 620 -k -s 1
Icon=mechanix_files
Terminal=false
Categories=System & Utilities;
