({
    "fonts.primary.100": File (
        path: "fonts/Inter_24pt-Light.ttf",
    ),
    "fonts.primary.200": File (
        path: "fonts/Inter_24pt-ExtraLight.ttf",
    ),
    "fonts.primary.300": File (
        path: "fonts/Inter_24pt-Light.ttf",
    ),
    "fonts.primary.400": File (
        path: "fonts/Inter_24pt-Regular.ttf",
    ),
    "fonts.primary.500": File (
        path: "fonts/Inter_24pt-Medium.ttf",
    ),
    "fonts.primary.600": File (
        path: "fonts/Inter_24pt-SemiBold.ttf",
    ),
    "fonts.primary.700": File (
        path: "fonts/Inter_24pt-Bold.ttf",
    ),
    "fonts.primary.800": File (
        path: "fonts/Inter_24pt-ExtraBold.ttf",
    ),
    "fonts.primary.900": File (
        path: "fonts/Inter_24pt-Black.ttf",
    ),
    "fonts.secondary.100": File (
        path: "fonts/SpaceMono-Regular.ttf",
    ),
    "fonts.secondary.200": File (
        path: "fonts/SpaceMono-Regular.ttf",
    ),
    "fonts.secondary.300": File (
        path: "fonts/SpaceMono-Regular.ttf",
    ),
    "fonts.secondary.400": File (
        path: "fonts/SpaceMono-Regular.ttf",
    ),
    "fonts.secondary.500": File (
        path: "fonts/SpaceMono-Regular.ttf",
    ),
    "fonts.secondary.600": File (
        path: "fonts/SpaceMono-Bold.ttf",
    ),
    "fonts.secondary.700": File (
        path: "fonts/SpaceMono-Bold.ttf",
    ),
    "fonts.secondary.800": File (
        path: "fonts/SpaceMono-Bold.ttf",
    ),
    "fonts.secondary.900": File (
        path: "fonts/SpaceMono-Bold.ttf",
    ),
    "fonts.icons": File (
        path: "fonts/font-icons.ttf"
    ),

    "image.airplane_tilt": File (
        path: "icons/airplane_tilt.png",
    ),

    "image.rotation_on": File (
        path: "icons/rotation_on.png",
    ),
    "image.rotation_off": File (
        path: "icons/rotation_off.png",
    ),
    "image.second_screen_on": File (
        path: "icons/second_screen_on.png",
    ),
    "image.second_screen_off": File (
        path: "icons/second_screen_off.png",
    ),
    "image.power_mode_none": File (
        path: "icons/power_mode_none.png",
    ),
    "image.power_mode_high": File (
        path: "icons/power_mode_high.png",
    ),
    "image.power_mode_low": File (
        path: "icons/power_mode_low.png",
    ),
    "image.mic_on": File (
        path: "icons/mic_on.png",
    ),
    "image.mic_off": File (
        path: "icons/mic_off.png",
    ),
    "image.screen_recording_on": File (
        path: "icons/screen_recording_on.png",
    ),
    "image.screen_recording_off": File (
        path: "icons/screen_recording_off.png",
    ),
    "image.screen_recording_off": File (
        path: "icons/screen_recording_off.png",
    ),
    "image.calculator": File (
        path: "icons/calculator.png",
    ),
    "image.camera": File (
        path: "icons/camera.png",
    ),
    "image.sound_low": File (
        path: "icons/sound_low.png",
    ),
    "image.brightness_low": File (
        path: "icons/brightness_low.png",
    ),
    "image.wireless_off": File (
        path: "icons/wireless_off.png",
    ),
    "image.wireless_on": File (
        path: "icons/wireless_on.png",
    ),
    "image.bluetooth_off": File (
        path: "icons/bluetooth_off.png",
    ),
    "image.bluetooth_on": File (
        path: "icons/bluetooth_on.png",
    ),
    "image.cell_signal_none": File (
        path: "icons/cell_signal_none.png",
    ),
    "image.terminal": File (
        path: "icons/terminal.png",
    ),
    "image.battery_10": File (
        path: "icons/battery_10.png",
    ),

})
