[package]
name = "mechanix_system_dbus_server"
description = "Zbus interface for Mechanix System services"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
categories.workspace = true
keywords.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio.workspace = true
anyhow.workspace = true
zbus = { version = "4.1.2", features = ["tokio"] }
mechanix-bluetooth-ctl = { path = "../../../ctl/bluetooth" }
mechanix-network-ctl = { path = "../../../ctl/network" }
mechanix-power-ctl = { path = "../../../ctl/power" }
mechanix-display-ctl = { path = "../../../ctl/display" }
mechanix-host-metrics = { path = "../../../ctl/host-metrics" }
zbus_polkit = { version = "4.0.0", features = ["tokio"] }
serde.workspace = true
tracing.workspace = true
serde_yaml = "0.9.25"


# This is for the debian package
[package.metadata.deb]
name = "mechanix_system_dbus_server"
depends = "$auto"
assets = [
    # binary
    [
        ".../../../target/release/mechanix_system_dbus_server",
        "/usr/bin/",
        "755",
    ],
    #dbus-conf
    [
        "./../../system-dbus.conf",
        "/etc/dbus-1/system.d/",
        "644",
    ],
    # settings
    [
        "./../../services-config-example.yml",
        "/etc/mechanix-gui/server/system/",
        "644",
    ],

]
