title: Keyboard # Empty
app:
  id: mechanix.shell.keyboard # Keyboard
  text_multithreading: true # false
  antialiasing: true # false
  try_opengles_first: true # false
window:
  size: [480, 244] # [480, 200]
  position: [0, 0] # [0, 0]
  min_size: [448, 84] # None
  max_size: null # None
  visible: true # true
  resizable: true # true
  decorations: true # true
  transparent: true # false
  always_on_top: false # false
  icon_path: null # Todo
icons:
  backspace: /usr/share/mechanix/shell/keyboard/assets/icons/edit_clear_icon.svg
  shift: /usr/share/mechanix/shell/keyboard/assets/icons/key_shift_icon.svg
  enter: /usr/share/mechanix/shell/keyboard/assets/icons/key_enter_icon.svg
  symbolic: /usr/share/mechanix/shell/keyboard/assets/icons/keyboard_mode_icon.svg
layouts:
  default: /usr/share/mechanix/shell/keyboard/assets/layouts/us.yaml
trie:
  raw_file: /usr/share/mechanix/shell/keyboard/assets/trie/words_raw.tsv
  cached_file: .config/mechanix/shell/keyboard/caches/words_cached.json
click_area:
  increase_by: 4.
  visible: false