Package: mechanix-music-beta
Version: 0.0.2
Maintainer: Dhanish Patel <dhanishp@ext.mechasystems.com>
Description: Mechanix Music app
  A music application for Mechanix OS, enabling users to play, organize, and manage their music library with ease.

