[package]
name = "mechanix-lock-screen"
description = "Lock screen component for the Mechanix shell"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
categories.workspace = true
keywords.workspace = true

[dependencies]
anyhow = "1.0.71"
serde = { version = "1.0.163", features = ["derive"] }
serde_yaml = "0.9.21"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tonic = "0.9.2"
serde_ini = "0.2.0"
tokio = { version = "1.33", features = ["full"] }
wayland-protocols-async = "1.0.0"
mctk_core = { workspace = true }
mctk_smithay = { workspace = true }
mctk_macros = { workspace = true }
mechanix_system_dbus_client = { workspace = true }
chrono = { workspace = true }
futures = { workspace = true }
mechanix_status_bar_components = { workspace = true }

[package.metadata.deb]
name = "mechanix-lock-screen"
depends = "$auto"
assets = [
    # binary
    [
        "../target/release/mechanix-lock-screen",
        "/usr/bin/",
        "755",
    ],
    #assets
    [
        "src/assets/**/*",
        "/usr/share/mechanix/shell/lock-screen/assets/",
        "644",
    ],

    # settings
    [
        "settings.yml.example",
        "/etc/mechanix/shell/lock-screen/settings.yml",
        "644",
    ],
]