[Desktop Entry]
Name=Notes
GenericName=Mechanix Notes
Comment=Notes app
Type=Application
TryExec=mechanix_notes -b /usr/share/mechanix/mechanix-notes -w 540 -h 620 -k -s 1
Exec=mechanix_notes -b /usr/share/mechanix/mechanix-notes -w 540 -h 620 -k -s 1
Icon=mechanix_notes
Terminal=false
Categories=Productivity;