[Desktop Entry]
Name=Mechanix Music
GenericName=Mechanix Music
Comment=Music app
Type=Application
TryExec=mechanix_music -b /usr/share/mechanix/mechanix-music -w 540 -h 620 -k -s 1
Exec=mechanix_music -b /usr/share/mechanix/mechanix-music -w 540 -h 620 -k -s 1
Icon=mechanix_music
Terminal=false
Categories=System;