({
    "icons.search": File (
        path: "icons/search.png",
    ),
    "icons.arrow_up_right": File (
        path: "icons/arrow_up_right.png",
    ),
    "icons.default_app_icon": File (
        path: "icons/default_app_icon.png",
    ),
    "icons.close": File (
        path: "icons/close.png",
    ),
    "icons.left_nav_bar": File (
        path: "icons/left_nav_bar.png",
    ),
})