title: Settings Panel # Empty
app:
  id: settings-panel # launcher
  text_multithreading: true # false
  antialiasing: true # false
  try_opengles_first: true # false
window:
  size: [480, 443] # [1024, 768]
  position: [0, 0] # [0, 0]
  min_size: [480, 100] # None
  max_size: null # None
  visible: true # true
  resizable: true # true
  decorations: true # true
  transparent: true # false
  always_on_top: false # false
  icon_path: null # Todo
fonts:
layout:
  grid:
    [
      "Wireless",
      "Bluetooth",
      "Battery",
      "Auto Rotate",
      "Settings",
      "Running Apps",
      "CPU",
      "Memory",
      "Sound",
      "Brightness",
    ]
modules:
  wireless:
    title: "Wireless"
    icon:
      off: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_off.svg
      on: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_on.svg
      low: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_low.svg
      weak: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_weak.svg
      good: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_good.svg
      strong: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_strong.svg
      not_found: /usr/share/mechanix/shell/settings-panel/assets/icons/wireless/wireless_not_found.svg
  bluetooth:
    title: "Bluetooth"
    icon:
      on: /usr/share/mechanix/shell/settings-panel/assets/icons/bluetooth/bluetooth_on.svg
      off: /usr/share/mechanix/shell/settings-panel/assets/icons/bluetooth/bluetooth_off.svg
      connected: /usr/share/mechanix/shell/settings-panel/assets/icons/bluetooth/bluetooth_connected.svg
      not_found: /usr/share/mechanix/shell/settings-panel/assets/icons/bluetooth/bluetooth_not_found.svg
  battery:
    title: "Battery"
    icon:
      level_100: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_100.svg
      level_90: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_90.svg
      level_80: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_80.svg
      level_70: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_70.svg
      level_60: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_60.svg
      level_50: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_50.svg
      level_40: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_40.svg
      level_30: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_30.svg
      level_20: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_20.svg
      level_10: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_10.svg
      level_0: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_0.svg
      not_found: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/battery_not_found.svg
    charging_icon:
      level_100: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_100.svg
      level_90: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_90.svg
      level_80: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_80.svg
      level_70: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_70.svg
      level_60: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_60.svg
      level_50: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_50.svg
      level_40: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_40.svg
      level_30: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_30.svg
      level_20: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_20.svg
      level_10: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_10.svg
      level_0: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_0.svg
      not_found: /usr/share/mechanix/shell/settings-panel/assets/icons/battery/charging/battery_not_found.svg
  rotation:
    title: "Auto Rotate"
    icon:
      portrait: /usr/share/mechanix/shell/settings-panel/assets/icons/rotation/portrait.svg
      landscape: /usr/share/mechanix/shell/settings-panel/assets/icons/rotation/landscape.svg
  settings:
    title: "Settings"
    icon:
      default: /usr/share/mechanix/shell/settings-panel/assets/icons/settings/settings.svg
  running_apps:
    title: "Running Apps"
    icon:
      low: /usr/share/mechanix/shell/settings-panel/assets/icons/running_apps/low.svg
      medium: /usr/share/mechanix/shell/settings-panel/assets/icons/running_apps/medium.svg
      high: /usr/share/mechanix/shell/settings-panel/assets/icons/running_apps/high.svg
    run_command: [
        "sh", 
        "-c",
        "mecha-settings -s /usr/share/mecha/settings/settings.yml"
    ]
  cpu:
    title: "CPU"
    icon:
      low: /usr/share/mechanix/shell/settings-panel/assets/icons/cpu/low.svg
      medium: /usr/share/mechanix/shell/settings-panel/assets/icons/cpu/medium.svg
      high: /usr/share/mechanix/shell/settings-panel/assets/icons/cpu/high.svg
  memory:
    title: "Memory"
    icon:
      low: /usr/share/mechanix/shell/settings-panel/assets/icons/memory/low.svg
      medium: /usr/share/mechanix/shell/settings-panel/assets/icons/memory/medium.svg
      high: /usr/share/mechanix/shell/settings-panel/assets/icons/memory/high.svg
  sound:
    title: "Sound"
    icon:
      low: /usr/share/mechanix/shell/settings-panel/assets/icons/sound/low.svg
      medium: /usr/share/mechanix/shell/settings-panel/assets/icons/sound/medium.svg
      high: /usr/share/mechanix/shell/settings-panel/assets/icons/sound/high.svg
  brightness:
    title: "Brightness"
    icon:
      low: /usr/share/mechanix/shell/settings-panel/assets/icons/brightness/low.svg
      medium: /usr/share/mechanix/shell/settings-panel/assets/icons/brightness/medium.svg
      high: /usr/share/mechanix/shell/settings-panel/assets/icons/brightness/high.svg
