[package]
name = "mechanix-config-client"
description = "Client library for storing, retrieving and subscribing to settings key-values"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
categories.workspace = true
keywords.workspace = true

[dependencies]
