({
    "layout.bluetooth": TextureAtlasLayout (
        tile_size_x: 44,
        tile_size_y: 44,
        columns: 1,
        rows: 1
    ),

    "image.bluetooth_connected": File (
        path: "icons/bluetooth_connected.png",
    ),

    "image.bluetooth_none": File (
        path: "icons/bluetooth_none.png",
    ),

    "image.bluetooth_off": File (
        path: "icons/bluetooth_off.png",
    ),
    "image.bluetooth_on": File (
        path: "icons/bluetooth_on.png",
    ),

    "image.bluetooth_warning": File (
        path: "icons/bluetooth_warning.png",
    ),

    "layout.wireless": TextureAtlasLayout (
        tile_size_x: 44,
        tile_size_y: 44,
        columns: 1,
        rows: 1
    ),

    "image.wireless_on": File (
        path: "icons/wireless_none.png",
    ),
    "image.wireless_off": File (
        path: "icons/wireless_off.png",
    ),
    "image.wireless_high": File (
        path: "icons/wireless_high.png",
    ),
    "image.wireless_medium": File (
        path: "icons/wireless_medium.png",
    ),
    "image.wireless_low": File (
        path: "icons/wireless_low.png",
    ),
    "image.wireless_fix": File (
        path: "icons/wireless_fix.png",
    ),

    "layout.extend_screen": TextureAtlasLayout (
        tile_size_x: 44,
        tile_size_y: 44,
        columns: 1,
        rows: 1
    ),

    "image.extend_screen_none": File (
        path: "icons/extend_screen_none.png",
    ),

        "image.battery_10": File (
        path: "icons/battery_10.png",
    ),
    "image.battery_20": File (
        path: "icons/battery_20.png",
    ),
    "image.battery_30": File (
        path: "icons/battery_30.png",
    ),
    "image.battery_40": File (
        path: "icons/battery_40.png",
    ),
    "image.battery_50": File (
        path: "icons/battery_50.png",
    ),
    "image.battery_60": File (
        path: "icons/battery_60.png",
    ),
    "image.battery_70": File (
        path: "icons/battery_70.png",
    ),
    "image.battery_80": File (
        path: "icons/battery_80.png",
    ),
    "image.battery_90": File (
        path: "icons/battery_90.png",
    ),
    "image.battery_100": File (
        path: "icons/battery_100.png",
    ),
    "image.battery_empty": File (
        path: "icons/battery_empty.png",
    ),
    "image.battery_0_charging": File (
        path: "icons/battery_0_charging.png",
    ),
    "image.battery_10_charging": File (
        path: "icons/battery_10_charging.png",
    ),
    "image.battery_20_charging": File (
        path: "icons/battery_20_charging.png",
    ),
    "image.battery_30_charging": File (
        path: "icons/battery_30_charging.png",
    ),
    "image.battery_40_charging": File (
        path: "icons/battery_40_charging.png",
    ),
    "image.battery_50_charging": File (
        path: "icons/battery_50_charging.png",
    ),
    "image.battery_60_charging": File (
        path: "icons/battery_60_charging.png",
    ),
    "image.battery_70_charging": File (
        path: "icons/battery_70_charging.png",
    ),
    "image.battery_80_charging": File (
        path: "icons/battery_80_charging.png",
    ),
    "image.battery_90_charging": File (
        path: "icons/battery_90_charging.png",
    ),
    "image.battery_100_charging": File (
        path: "icons/battery_100_charging.png",
    ),
})
