[package]
name = "mechanix-home-screen"
description = "Home screen component for the Mechanix shell"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
categories.workspace = true
keywords.workspace = true

[dependencies]
anyhow = "1.0.71"
serde = { version = "1.0.163", features = ["derive"] }
serde_yaml = "0.9.21"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tonic = "0.9.2"
serde_ini = "0.2.0"
tokio = { version = "1.33", features = ["full"] }
wayland-protocols-async = "1.0.0"
command = { path = "../commons/command"}
desktop_ini_utils = { path = "../commons/desktop_ini_utils"}
mctk_core = { workspace = true }
mctk_smithay = { workspace = true }
mctk_macros = { workspace = true }

[build-dependencies]
tonic-build = "0.9.2"