title: Homescreen # Empty
app:
  id: homescreen # homescreen
  text_multithreading: true # false
  antialiasing: true # false
  try_opengles_first: true # false
window:
  size: [480, 440] # [1024, 768]
  position: [0, 0] # [0, 0]
  min_size: [480, 40] # None
  max_size: null # None
  visible: true # true
  resizable: true # true
  decorations: true # true
  transparent: true # false
  always_on_top: false # false
  icon_path: null # Todo
layout:
  left: []
  center: []
  right: []
modules:
  apps:
    - app_id: mecha-connect
      name: Mecha Connect
      icon: /usr/share/mechanix/shell/home-screen/assets/icons/apps/mecha-connect.png
      run_command: mecha-connect
    - app_id: mecha-llama
      name: Mecha LLama
      icon: /usr/share/mechanix/shell/home-screen/assets/icons/apps/mecha-llama.png
      run_command: mecha-vision
    - app_id: mecha-vision
      name: Mecha Vision
      icon: /usr/share/mechanix/shell/home-screen/assets/icons/apps/mecha-vision.png
      run_command:
    - app_id: chromium
      name: Chromium
      icon: /usr/share/mechanix/shell/home-screen/assets/icons/apps/chromium.png
      run_command: chromium

