.window {
    background: rgba(5, 7, 10, 0.2);
    font-family: 'Space Grotesk';
    color: #E4E7EE;
    min-width: 100%;
    min-height: 100%;
}

.home-container {
    min-width: 100%;
    min-height: 100%;
}

.lock-screen-box {}

.lock-button {
    min-width: 90px;
    min-height: 90px;
    padding: 0px;
    margin: 0px;
    background: none;
}

.pin-auth-container {
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

.password-key-box {
    border-radius: 16px;
    /* border: 1px solid #000000; */
    background: rgba(0, 0, 0, 0.6);
    min-width: 90px;
    min-height: 90px;
}

.password-key-icon{
    min-width: 40px;
    min-height: 40px;
}
.password-key-label {
    color: #E4E9EE;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.password-key-focus {
    color: #FDFDFD;
}

.password-text-box {
    padding-top: 25px;
    padding-bottom: 10px;
}

.password-text {
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    /* border: 2px solid #565E76; */
}

.password-text-filled {
    background-color: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
}

.password-invalid-label {
    padding-bottom: 15px;
}

.password-auth-container {
    min-width: 100%;
    min-height: 100%;
    padding: 0px 20px;
}

entry {
    background: transparent;
    color: #E4E7EE;
    outline: none;
    border: none;
    /* outline-offset: 0px;
    outline-style: solid;
    outline-color: #3283E8;
    outline-width: thin; */
    padding: 0px;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    /* border: 1px solid #000000; */
}

/* .search-input:hover {
    border: none;
} */

entry :focus {
    background: transparent;
    outline: none;
    border: none;
    /* border: 0px solid #3283E8; */
    /* background: rgba(0, 20, 61, 0.40); */
}

entry :focus-visible {
    background: transparent;
    outline: none;
    border: none;
}

entry :focus-within {
    background: transparent;
    outline: none;
    border: none;
}

.search-input::placeholder {
    color: #565E76;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.login-label {
    color: #FAFBFC;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 14px;
}

.back-button {
    min-width: 38px;
    min-height: 38px;
    border-radius: 9px;
    /* border: 1px solid #15171D; */
    background: #15171D;
    box-shadow: 0px 4.80001px 4.80001px 0px rgba(31, 33, 35, 0.35);
}

.submit-button {
    min-width: 38px;
    min-height: 38px;
    border-radius: 9px;
    /* border: 1px solid #15171D; */
    background: #15171D;
    box-shadow: 0px 4.80001px 4.80001px 0px rgba(31, 33, 35, 0.35);
}

/* .password-home-icon {

} */

/* .password-home-button {
    min-width: 36px;
    min-height: 36px;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #000000;
background: rgba(0, 0, 0, 0.6);
}

*/
.footer {}

/* .password-home-button-pressing {
    background: rgba(0,0,0,0.8);
} */

.icon-button-root-default {
    padding: 15px;
}

.icon-button-container-default {
    min-width: 36px;
    min-height: 36px;
    padding: 10px;
    border-radius: 9px;
    /* border: 1px solid #000000; */
    background: rgba(0, 0, 0, 0.6);
}

.icon-button-container-pressing-default {
    background: rgba(0, 0, 0, 0.8);
}

.icon-button-icon-default {}

.icon-input-root-default {
    padding: 14px 12px;
    border-radius: 4px;
    background: #15171D;
    /* border: 1px solid #000000; */
}

.icon-input-root-focused-default {
    /* border: 1px solid #3283E8; */
    background: rgba(0, 20, 61, 0.4);
}

.icon-input-icon-default {
    padding: 10px;
}