({
    "icons.search": File (
        path: "icons/search.png",
    ),
    "icons.default_app_icon": File (
        path: "icons/default_app_icon.png",
    ),
    "icons.close": File (
        path: "icons/close.png",
    ),
    "icons.sm_curve": File (
        path: "icons/sm_curve.png",
    ),
    "icons.lg_curve": File (
        path: "icons/lg_curve.png",
    ),
})