title: Status Bar # Empty
app:
  id: mechanix.shell.status-bar # Status bar
  text_multithreading: true # false
  antialiasing: true # false
  try_opengles_first: true # false
window:
  size: 480 # 480
  height: 34 # 37
  width: 480
  layer_shell:
    margin:
      top: 0
      right: 0
      bottom: 0
      left: 0
    anchor:
      top: true
      right: true
      bottom: false
      left: true
  position: [0, 0] # [0, 0]
  min_size: [480, 40] # None
  max_size: null # None
  visible: true # true
  resizable: true # true
  decorations: true # true
  transparent: true # false
  always_on_top: false # false
  icon_path: null # Todo
fonts:
css:
  default: /usr/share/mechanix/shell/status-bar/assets/css/style.css
layout:
  left: ["clock"]
  center: ["window_title"]
  right: ["wireless", "bluetooth", "battery"]
modules:
  clock:
    format: "%I:%M %p" # https://docs.rs/chrono/latest/chrono/format/strftime/index.html
  bluetooth:
    icon:
      on: /usr/share/mechanix/shell/status-bar/assets/icons/bluetooth/bluetooth_on.svg
      off: /usr/share/mechanix/shell/status-bar/assets/icons/bluetooth/bluetooth_off.svg
      connected: /usr/share/mechanix/shell/status-bar/assets/icons/bluetooth/bluetooth_connected.svg
      not_found: /usr/share/mechanix/shell/status-bar/assets/icons/bluetooth/bluetooth_not_found.svg
  wireless:
    icon:
      off: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_off.svg
      on: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_on.svg
      low: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_low.svg
      weak: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_weak.svg
      good: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_good.svg
      strong: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_strong.svg
      not_found: /usr/share/mechanix/shell/status-bar/assets/icons/wireless/wireless_not_found.svg
  battery:
    icon:
      level_100: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_100.svg
      level_90: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_90.svg
      level_80: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_80.svg
      level_70: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_70.svg
      level_60: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_60.svg
      level_50: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_50.svg
      level_40: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_40.svg
      level_30: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_30.svg
      level_20: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_20.svg
      level_10: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_10.svg
      level_0: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_0.svg
      not_found: /usr/share/mechanix/shell/status-bar/assets/icons/battery/battery_not_found.svg
    charging_icon:
      level_100: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_100.svg
      level_90: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_90.svg
      level_80: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_80.svg
      level_70: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_70.svg
      level_60: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_60.svg
      level_50: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_50.svg
      level_40: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_40.svg
      level_30: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_30.svg
      level_20: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_20.svg
      level_10: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_10.svg
      level_0: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_0.svg
      not_found: /usr/share/mechanix/shell/status-bar/assets/icons/battery/charging/battery_not_found.svg
