name: Release

on:
  push:
    branches:
      - dev-v1
      - main
  release:
    types: [created, edited]

jobs:
  build:
    name: Build Release Binary
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            name: mechanix-zbus-services-x86_64-unknown-linux-gnu.tar.gz

          # - target: aarch64-unknown-linux-gnu
          #   os: ubuntu-latest
          #   name: mechanix-zbus-services-aarch64-unknown-linux-gnu.tar.gz

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # cargo cross-compilation
      - name: Setup | Install cross [Linux]
        if: matrix.os == 'ubuntu-latest'
        uses: taiki-e/install-action@cross

      #  add dependencies here
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libdbus-1-dev pkg-config

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Build
        working-directory: services
        run: cargo build --release --target ${{ matrix.target }}

        #  view the contents of the target directory
      - name: List Target Directory
        run: |
          find services/target -type f

      - name: Package
        run: |
          ls -l services/target/
          cd services/target/release
          tar czvf ../../${{ matrix.name }} *
          cd -

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}
          path: services/${{ matrix.name }}
          tag: ${{ github.ref }}

  release:
    name: Create GitHub Release
    needs: build
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3

      - name: Create Checksums
        run: |
          for file in mechanix-zbus-services*; do
            openssl dgst -sha256 -r "$file" | awk '{print $1}' > "${file}.sha256"
          done

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
        with:
          files: mechanix-zbus-services*
          tag_name: "v.0.0.1"