name: Release
on:
  push:
    branches:
      - dev-v1
  release:
    types: [created, edited]
env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10
  MACOSX_DEPLOYMENT_TARGET: 10.7

jobs:
  github_build:
    name: Build release binaries
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            name: mechanix-zbus-services-aarch64-unknown-linux-gnu.tar.gz
            package: mechanix-zbus-services

    runs-on: ${{ matrix.os }}
    continue-on-error: true
    env:
      RUSTFLAGS: ${{ matrix.rustflags || '' }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Install dependencies
        run: |
          sudo apt install -y libdbus-1-dev pkg-config

      - name: Build | Build [tar.gz]
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd services
          cargo build --release --target ${{ matrix.target }}

      - name: Build | Build [Deb]
        if: matrix.os == 'ubuntu-latest'
        run: |
          rustup update
          cargo install cargo-deb
          cd services
          cargo deb -p ${{ matrix.package }}

      - name: Post Build | Prepare artifacts [-nix]
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd services/target/${{ matrix.target }}/release/
          tar czvf ../../../../${{ matrix.name }} mechanix-zbus-services
          cd -

          cd services/target/debian/
          tar czvf ../../../mechanix-zbus-services-arm64.deb mechanix-zbus-services*
          cd -

      - name: Release | Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}
          path: ./mechanix*

  github_release:
    name: Create GitHub Release
    needs: github_build
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
        with:
          files: mechanix-*/mechanix-*
          tag_name: Release-${{ github.run_id }}
