name: Release
on:
  push:
    branches:
      - dev-v1
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
jobs:
  build:
    - name: Local Workflow location access 
      uses: actions/checkout@v4
      uses: ./.github-actions/build.yml

  github_release:
    needs: build
    name: Create GitHub Release
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
        with:
          files: mechanix-*/mechanix-*
          tag_name: Release-${{ github.run_id }}
